# Python-specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# Editor/IDE specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Log files
*.log

# Local development
uv.lock 